.grid-container {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(200px, auto)); */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(100px, auto)); */
    gap: 10px;
}

.grid-item {
    /* background-color: #95ee98; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; */
}

.grid-item-nav {
    background-color: #95ee98;

    grid-column: 1 / 4;
    padding: 20px;
}

.grid-item-main {
    background-color: #95ee98;

    grid-column: 1 / 3;
}

.grid-item-footer {
    background-color: #95ee98;

    grid-column: 1 / 4;
    padding: 20px;
}

.grid-item-main {
    background-color: #95ee98;

    padding: 20px;
}

.grid-item-side {
    background-color: #95ee98;

    padding: 20px;
}